@import '../../styling/config';

.underline {
  border-bottom: solid 1px black;
  padding: 0.5rem;
}

.navigator-link {
  background: $primary-button-background-color;
  padding: 1rem;
  border-radius: 5px;

  &:visited {
    color: $primary-bright-color;
  }
  &:hover {
    background: $primary-button-background-color-hover;
  }

  color: $primary-link-color;
  text-decoration: none;
}
