@import '../../styling/config';

.repo-text {
  &:last-of-type {
    margin-bottom: 2rem;
  }
}

.repo-link {
  background: $primary-button-background-color;
  color: $primary-bright-color;
  padding: 0.5rem;
  margin-top: 8rem;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background: $primary-button-background-color-hover;
  }
}

.loading {
  padding: 1rem;
}
