@import "../../styling/config";

@mixin border-config {
  display: grid;
  gap: 10px;
  padding: 10px;
  & > section > div {
    padding: 1rem;
  }
}

.grid-container {
  &-small {
    grid-template-columns: auto auto;
    @include border-config();
  }
  &-default {
    grid-template-columns: auto;
    @include border-config();
  }
  &.with-padding {
    padding: 10px;
  }
}

.background {
  background-color: $container-background;
}

.border-line {
  border-radius: 5px;
  border: $container-border;
  box-shadow: $box-shadow-bottom;
}
