@import '../../styling/config';

.navigator {
  display: flex;
  align-items: center;
  background: linear-gradient(120deg, #001e8d 0%, #462be2 36%, #00eeff 96%);
  height: 2.5rem;
  border-bottom: solid 2px #0000ff;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: $box-shadow-bottom;
  & > h1 {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: $primary-bright-color;
    border-right: white solid 1px;
    font-size: 1rem;
  }
}

.nav-menu {
  list-style: none;
  margin-left: 1rem;

  li {
    // display: inline;
    margin: 0 0.5rem;
    a {
      color: $primary-bright-color;
      text-decoration: none;
      padding: 0.7rem;
      &:hover {
        background: $primary-button-background-color-hover;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .nav-menu {
    li {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    li {
      display: inline;
    }
  }
}
