@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap');

$container-border: 1px #bdbdbd solid;
$main-background: #f6f6f6;
$primary-bright-color: #f0f8ff;
$primary-dark-color: #1F2667;
$primary-font: 'Libre Franklin', sans-serif;