@font-face {
  font-family: 'Libre Franklin';
  src: url(../../assets/fonts/LibreFranklin-Regular.ttf);
}

$border-color: #bdbdbd;
$container-border: 1px $border-color solid;
$container-background: #d8e1ff;
$main-background: #eef9fe;
$primary-bright-color: #f0f8ff;
$primary-dark-color: #1f2667;
$primary-font: 'Libre Franklin', sans-serif;
$primary-link-color: #6232b6;
$primary-button-background-color: #0000ff;
$primary-button-background-color-hover: #1b60ce;
$box-shadow-bottom: 0px 2px 4px rgba(0, 0, 0, 0.1);

$underline-default: #bdbdbd;
$underline: 1px $underline-default solid;

$form-background-default: #eef9fe;
$from-background-dark: #324287;
