@import '../../styling/config';

.button {
  &-width {
    &-small {
      @include button-style();
      max-width: 5%;
    }
    &-default {
      @include button-style();
      min-width: 10%;
    }
    &-large {
      @include button-style();
      min-width: 25%;
    }
    &-xlarge {
      @include button-style();
      min-width: 50%;
    }
    &-full {
      @include button-style();
      min-width: 100%;
    }
  }
}
