@import "../../../styling/config";

.container-box {
  margin: 4rem auto;
  color: $primary-dark-color;
  padding: 1rem 0;
}

.borderline-style {
  border-radius: 5px;
}

.container-no-line {
  border: none;
}

.default-container-size {
  box-shadow: $box-shadow-bottom;
}

.half-container-size {
  box-shadow: $box-shadow-bottom;
  max-width: 40%;
}

.full-container-size {
  box-shadow: $box-shadow-bottom;
  max-width: 100%;
}

.text-position {
  &-middle {
    text-align: center;
  }
  &-end {
    text-align: right;
  }
}

@media (min-width: 300px) {
  .default-container-size {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .default-container-size {
    max-width: 80%;
  }
}
