@import '../../../styling/config';

.nav-bar {
  display: grid;
  grid-template-areas: 'logo nav-menu nav-menu nav-menu nav-menu';
  grid-template-columns: 7% 93%;
  background: linear-gradient(120deg, #001e8d 0%, #462be2 36%, #00eeff 96%);
  position: fixed;
  height: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust the values to customize the shadow */
}

.logo {
  grid-area: logo;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
}

.nav-menu {
  grid-area: nav-menu;
  display: grid;
  grid-template-areas: 'left-side right-side';
  padding: 0.25rem 1rem;
}

.menu {
  &-left-side {
    grid-area: left-side;
    padding: 0.9rem 1rem;
  }

  &-right-side {
    grid-area: right-side;
    // padding: 0.9rem 1rem;
  }
}

.nav-items {
  list-style: none;
  margin-left: 1rem;

  li {
    margin: 0 0.5rem;
    a {
      text-decoration: none;
      padding: 0.7rem;
      &:hover {
        background: $primary-button-background-color-hover;
      }
    }
  }
}

@media screen and (min-width: 300px) {
  .nav-menu {
    li {
      display: none;
    }
  }

  .menu { 
    &-right-side {
      padding: 0.3rem 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .nav-menu {
    li {
      display: inline;
    }
  }

  .menu { 
    &-right-side {
      padding: 0.9rem 1rem;
    }
  }
}
