@import '../styling/config';

.navigator {
  background: linear-gradient(
    120deg,
    rgba(0, 30, 141, 1) 0%,
    rgba(70, 43, 226, 1) 36%,
    rgb(0, 238, 255) 96%
  );
  height: 2.5rem;
  border-bottom: solid 2px #0000ff;
  margin-bottom: 2rem;

  & > div {
    display: inline;
    height: 2.5rem;
    padding: 1rem;
    color: $primary-bright-color;
  }

  .nav-menu {
    display: inline;
    list-style: none;
    margin-left: 1rem;

    & > li {
      display: inline;
      margin: 0 0.5rem;
      
      a {
        color: $primary-bright-color;
        text-decoration: none;
      }

      &:hover {
        background: #0000ff;
      }
    }
  }
}
