@import "./styling/config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: $primary-font;
  line-height: 1.5;

  color-scheme: light dark;
  color: $primary-bright-color;
  background-color: $main-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
